[tool.poetry]
name = "nbed"
version = "0.0.2"
description = ""
authors = ["Michael Williams <michael.williams.20@ucl.ac.uk>"]

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310", "py311"]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
openfermion = "^1.1.0"
PennyLane = "^0.17.0"
PennyLane-Qchem = "^0.17.0"
PyYAML = "^5.4.1"
types-PyYAML = "^5.4.11"
qiskit-nature = "^0.2.2"
cached-property = "^1.5.2"
py3Dmol = "^1.7.0"
jupyter = "^1.0.0"
h5py = "3.1"
symmer = "0.0.4"
pyscf = "^2.3.0"

[tool.poetry.group.dev.dependencies]
black = "^22.0.0"
flake8 = ">=4.0.0, <5"
pydocstyle = "^6.1.1"
pytest = "^7.2.2"
mypy = "^0.902"
bpython = "^0.21"
isort = "^5.9.3"
coverage = "^6.3.1"
pandoc = "^2.3"
poetry = "^1.5.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
nbsphinx = "^0.8.8"
Sphinx = "^5"
sphinx-rtd-theme = "^1.0.0"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"



[tool.poetry.scripts]
nbed = "nbed.embed:cli"

[tool.isort]
profile = "black"
multi_line_output = 3

# Ignore pytest warnings here
[tool.pytest.ini_options]
filterwarnings = [
    #H5py throws a custom deprecation warning about default file mode
    'ignore:.*Using default_file_mode.*instead:UserWarning',
    # Lots of downstream deprecation warnings
    'ignore::DeprecationWarning'
]

[tool.pydocstyle]
convention = "google"